body{
  background-color: #444444;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 420px;
  margin: 0 auto;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #201dd8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.Red .piece {
  background-color: #ff4c4c;
}

.cell.Yellow .piece {
  background-color: #f7d34d;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.status {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: whitesmoke;
}

.button-wrapper {
  text-align: center;
  margin-top: 20px;
}